<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <title>Index</title>
</head>
<main role="main" class="container">

    <div class="starter-template">
        <h1>Tabua Club Member Points Inquire 积分查询</h1>
        <!--
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        -->
    </div>
    <div class="input-group mb-3">
		<form role="form" method="post" class="form-horizontal" action="/findOne">
        <input id="cardNumber" name="cardNumber"  type="text"  class="form-control" placeholder="Tabua Card Number">
        <button class="btn btn-outline-secondary" type="button" onclick="find();">提交</button>
		</form>
    </div>




</main><!-- /.container -->

<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript">
    function find() {
        alert("方法先进来.....");
        var cardNumber = $('#cardNumber').val();
        alert(cardNumber);
        $.ajax({
            type: 'post',
            url: "/finOne",
            dataType: 'json',
            error: "重新请求",
            data: {
                'cardNumber': cardNumber
            },
            Success: function () {
            },
            Error: function () {
            }
        });
    }
</script>
</body>
</html>