<!doctype html>
<html lang="en">
<head>
    <title>Index</title>
    <#include "/header.html">
</head>
<body>
<!-- 导航栏 -->
<div class="sidebar text-left">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Tabua Club Member Points Inquire 积分查询</a>
            </div>

        </div>
    </nav>
</div>
<main role="main" class="container">
    <div class="input-group mb-3">
        <form action="/search" method="get">
            <h3>输入卡号：</h3>
            <input id="cardNumber" name="cardNumber"  type="text"  class="form-control" placeholder="Tabua Card Number" >
            <button class="btn btn-outline-secondary" type="submit">提交</button>
        </form>
    </div>
</main><!-- /.container -->
</body>
</html>