<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <title>Index</title>
</head>
<main role="main" class="container">

    <div class="starter-template">
        <h2>会员详情 Member Detail</h2>
        <div>
            <#if member??>
            <ul>
                <li>名字 Name：${member.name}</li>
                <li>卡号 Card Number：${member.cardNumber}</li>
                <li>过期 Expiry Date：${member.expiryDate}</li>
                <li>升舱可用积分 Status Credit：${member.statusCredit}</li>
                <li>升级积分 Upgrade Credit：${member.upgradeCredit}</li>
            </ul>
            </#if>
            <#if message??>
            <ul>
                <li>${message}</li>
            </ul>
            </#if>
        </div>
    </div>

</main><!-- /.container -->

<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/jquery-3.3.1.slim.min.js"></script>
</body>
</html>