<!doctype html>
<html lang="en">
<head>
    <title>Memeber Detail</title>
    <#include "/header.html">
</head>
<body>
<body>
<!-- 导航栏 -->
<div class="sidebar text-left">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Fulluck Tabua Club Member Points Inquire 积分查询</a>
            </div>

        </div>
    </nav>
</div>
<main role="main" class="container">
    <div class="starter-template">
        <h2>会员详情 Member Detail</h2>
        <div>
            <#if member??>
            <ul>
                <li>名字 Name：${member.name}</li>
                <li>卡号 Card Number：${member.cardNumber}</li>
                <li>过期 Expiry Date：${member.expiryDate}</li>
                <li>升舱可用积分 Status Credit：${member.statusCredit}</li>
                <li>升级积分 Upgrade Credit：${member.upgradeCredit}</li>
            </ul>
            </#if>
            <#if message??>
            <ul>
                <li>${message}</li>
            </ul>
            </#if>
        </div>
    </div>
</main><!-- /.container -->
</body>
</html>